body {
  color: #333333;
  font-family: arial, Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
}
header {
  margin: 16px 0 48px 0;
}
h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
footer {
  color: #888888;
  border: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}
header a {
  text-decoration: none;
  color: #888888;
  margin-right: 16px;
}
.portrait {
  width: 250px;
  height: 250px;
}
